<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width,initial-scale=1.0" />
        <!-- ============以下是新增的============= -->
        <!-- cnd 加载css start-->
        <% htmlWebpackPlugin.options.cdnConfig.forEach(function(item){
        if(item.css){ %>
        <link href="<%= item.css %>" rel="stylesheet" />
        <% }}) %>
        <!-- cnd 加载css end-->
        <!-- ============以上是新增的============= -->
        <title>cli2_element_pc</title>
        <style>
            * {
                margin: 0;
                padding: 0;
                font-family: 'Microsoft YaHei', '微软雅黑', 'PingFang SC', Arial;
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
            }
        </style>
    </head>
    <body>
        <div id="app"></div>
        <!-- ============以下是新增的============= -->
        <!-- cnd 加载js start-->
        <% if(
        htmlWebpackPlugin.options.isExternalJs){htmlWebpackPlugin.options.cdnConfig.forEach(function(item){
        if(item.js){ %>
        <script type="text/javascript" src="<%= item.js %>"></script>
        <% }})} %>
        <!-- ============以上是新增的============= -->
        <!-- cnd 加载js end-->

        <!-- built files will be auto injected -->
    </body>
</html>
